# Database Connection (MongoDB 7.0 with Replica Set rs0 for multi-document transactions)
DATABASE_URL="mongodb://127.0.0.1:27017/clinic-management?replicaSet=rs0"

# Payload CMS Secret Key
PAYLOAD_SECRET="jeevancare_super_secret_payload_key_2026_dev_prod"

# Application Server URL
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
PORT=3000

# Environment Mode
NODE_ENV="development"
